doctype html
|<html>
|<head>
|<meta charset="UTF-8" />
|<meta http-equiv="x-ua-compatible" content="IE=edge" />
|<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
|<link rel="icon" href="#{cdn}/_bc/@auto-tel/auto-tel-resources/res/imgs/favicon.ico" type="image/x-icon" />